httpx
openai
pydantic>=2.0
playwright==1.52.0
playwright-stealth>=2.0.0
setuptools
aiohttp

beautifulsoup4
flask
python-dotenv
aiosmtplib
requests
simple_salesforce
pytest>=7.0.0
numpy
pandas
greenlet>=2.0.2
faiss-cpu
tiktoken